body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    color: #111111;
}

main {
    max-width: 720px;
    margin: 4rem auto;
    padding: 0 1.5rem;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.content {
    font-size: 1rem;
}

.icon {
    height: 1.2em;
    vertical-align: middle;
    margin-right: 0.5rem;
}

.site-footer {
    margin-top: 4rem;
    padding-top: 1.5rem;
    border-top: 1px solid #e5e5e5;
    font-size: 0.85rem;
    color: #666;
}

.site-footer p {
    margin: 0;
}


